html,body{
    margin:0px;
    padding:0px;
}

#camera, #camera-view, #photo-display{
    position: fixed;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#take-photo-button{
    position: fixed;
    bottom: 30px;
    width: 100%;
}

#front-camera-button{
    position: fixed;
    bottom: 80px;
    width: 100%;
}

.photo-taken{
    height: 100px!important;
    width: 100px!important;
}